---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";

import { playlists } from "@/lib/data";
import { ScrollArea } from "./ui/ScrollArea";
---

<nav class="flex flex-col flex-1 gap-2 overflow-y-hidden">
  <div class="bg-[#121212] rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Inicio
      </SideMenuItem>

      <SideMenuItem href="/search">
        <SearchIcon />
        Buscar
      </SideMenuItem>
    </ul>
  </div>
  <ScrollArea
    className="bg-[#121212] rounded-lg flex-1 overflow-y-auto "
    client:load
  >
    <ul class="relative">
      <div class="sticky top-0 z-10 bg-[#121212]">
        <SideMenuItem href="/">
          <LibraryIcon />
          Tu biblioteca
        </SideMenuItem>
      </div>

      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </ScrollArea>
</nav>
